/* ejemplo1.css AA20009 */
fichero {
    background-color: dodgerblue;
}

ficha {
    background-color:darkslategrey; 
    display:block;
    height: 20px;
    padding: 10px;
}

nombre {
    color:white; 
    display:inline;
}

apellido {
    color:yellow; 
    display:inline;
}

direccion {
    color:yellow;
    font-size:1cm; 
    display:none;
}
